<h1><b>Report Generation Module</b></h1>
<div class="jumbotron">
<%= search_form_for @q, url: search_report_static_pages_path do |f| %>
	<div class="row">
		<div class="col-xs-12">
			<%= f.input :project_name_cont, :label => "Project Title:", required: false %>
		</div>
  		<div class="col-xs-6">
  			<%= f.input :status_eq, :collection => ProjectStatus.all, :label_method => :description, :include_blank => true, :label => "Project Status", required: false %>
  		</div>
  		<div class="col-xs-6">
  			<%= f.input :funds_fund_source_in, :collection => FundSource.all.order(:source_name), :label_method => :source_name, :include_blank => true, :label => "Source of fund/s:", required: false %>
  		</div>
  		<div class="col-xs-6">
  			<%= f.input :timeline_actual_end_gteq, :label => "From Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY", required: false %>
  		</div>
  		<div class="col-xs-6">
  			<%= f.input :timeline_actual_end_lteq, :label => "To Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY", required: false %>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-xs-12">
  			<%= f.input :university_id_in, :collection => University.all.order(:university_name), :label_method => :university_name, :include_blank => true, :label => "Project of:", required: false, input_html: { multiple: true, :size => 5 } %>
  		</div>
  	</div>
  <%= f.button :submit, :class => "btn btn-success pull-right" %>
<% end %>
</div>
<br>

<%= link_to 'Export to Excel', report_path(params.merge(format: "xlsx")), :class => "pull-right" %>
<% if params[:q] && @projects.count > 0 %>	
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<b>Constituent University:</b>
					<% unless params[:q][:university_id_in].blank? %>
						<% params[:q][:university_id_in].each do |id| %>
							<%= University.find(id).university_name unless id.blank? %> |
						<% end %>
					<% end %>
				<br>
				<b>Number of projects:</b> <%= @projects.count %> <%= ProjectStatus.find(params[:q][:status_eq]).description unless params[:q][:status_eq].blank? %> projects<br>
				<b>From Completion Date:</b> <%= params[:q][:timeline_actual_end_gteq].to_date.try(:strftime, "%d %B %Y") %><br>
				<b>To Completion Date:</b> <%= params[:q][:timeline_actual_end_lteq].to_date.try(:strftime, "%d %B %Y") %><br>
			</div>
		</div>
	</div>
<% end %>
<br>
<div class="row">
	<% @projects.each do |project| %>
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<div class="row">
						<div class="col-xs-4">
							Project Code:<br>
							<b><%= project.project_code %></b>
							<br><br>
							Project Title:<br>
							<b><%= project.project_name %></b>
						</div>
						<div class="col-xs-6">
							Date of Notice of Award:
							<b><%= project.bidding_award.strftime("%d %B %Y") if project.bidding_award %></b>
							<br>
							Date of Notice to Proceed:
							<b><%= project.bidding_proceed.strftime("%d %B %Y") if project.bidding_proceed %></b>
							<br>
							Period between NoA and NtP (in Calendar Days):
							<b><%= (project.bidding_proceed.to_date - project.bidding_award.to_date).to_i.to_s + " days" if project.bidding_award.present? && project.bidding_proceed.present? %></b>
							<br><br>
							Date of Completion:
							<b><%= project.timeline_actual_end.try(:strftime, "%d %B %Y") %></b>
						</div>
						<div class="col-xs-2">
							<%= link_to "View details", project %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>