<%= simple_form_for @user do |f| %>
	<%= f.input :email, required: true, autofocus: true %>
	<div class="row">
		<div class="col-xs-6">
			<%= f.input :first_name %>
		</div>
		<div class="col-xs-6">
			<%= f.input :last_name %>
		</div>
		<div class="col-xs-6">
			<%= f.input :password %>
		</div>
		<div class="col-xs-6">
			<%= f.input :password_confirmation %>
		</div>
	</div>
	<%= f.input :admin, inline_label: 'Is admin?' %>
	<%= f.input :approved, inline_label: 'Is approved?' %>
	<%= f.association :universities, as: :select, collection: University.all.order(:university_name), :label_method => :university_name, :include_blank => true, :input_html => {:size => 10}, :label => "Can edit:" %>

	<%= f.button :submit, "Submit", :class => "btn btn-success" %>
<% end %>
