<h1>Editing <%= link_to @project_component.component_name, project_project_component_path(@project_component.project, @project_component) %></h1>

<% if current_user.admin || !current_user.universities.where(:id => @project_component.project.university_id ).blank? %>
	<%= render 'form' %>
<% else %>
	<%= render 'shared/unauthorized' %>
<% end %>

<%= link_to 'Show', project_project_component_path(@project_component.project, @project_component) %> |
<%= link_to 'Back', "javascript:history.back()" %>
