<div class="panel panel-success">
	<div class="panel-heading text-center">
		<h3>Project Components for <%= link_to @project.project_name, @project %></h3>
	</div>
	<div class="panel-body">
		<p id="notice"><%= notice %></p>
		<%= link_to '<i class="fa fa-plus"></i> Add new Project Component'.html_safe, new_project_project_component_path(@project), :class => "pull-right" %>
		<table class="table table-hover table-responsive">
		  <thead>
		    <tr>
		      <th>Component Title</th>
		      <th>Description</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @project_components.each do |component| %>
		      <tr>
		        <td style="text-align: left; word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><%= component.component_name %></td>
		        <td style="text-align: left; word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><%= component.description %></td>
		        <td style="text-align: right; word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><%= link_to "View details", project_project_component_path( @project, component ), :class => "btn btn-small btn-info" %></td>    
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<div class="text-center">
			<%= will_paginate @project_components, renderer: BootstrapPagination::Rails %>
		</div>
		<div class="pull-right">
	    	<%= link_to 'Back', "javascript:history.back()" %>
	    </div>
	</div>
</div>
