<div class="panel panel-success">
	<div class="panel-heading text-center">
		<h3><%= @project_component.component_name %></h3>
		<b>Project Component of <%= link_to @project_component.project.project_name, project_path(@project_component.project) %></b>
	</div>
	<div class="panel-body">
		<p id="notice"><%= notice %></p>
		
		<%= render 'shared/project_shared_panels', :project => @project_component %>

		<div class="panel panel-info">
			<div class="panel-heading">
				<b><%= icon('quote-right')%>  General Remarks</b>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<%= simple_format(@project_component.remarks) %>
					</div>
				</div>
			</div>
		</div>

	 	<div class="pull-right">
			<%= link_to 'Edit', edit_project_project_component_path(@project_component.project, @project_component) %> |
			<%= link_to 'Delete', project_project_component_path(@project_component.project, @project_component), method: :delete, data: { confirm: 'Are you sure you want to delete this project component?' } %> |
			<%= link_to 'Back', "javascript:history.back()" %>
		</div>
 	</div>
 </div>

