<div id="accordion" class="panel panel-info">
	<div class="panel-heading">
		<b><span class="accordion-toggle" data-toggle="collapse" data-target="#collapseSearch" data-parent="#accordion" href="#collapseSearch"><%= icon('search')%> Search:</span></b>
	</div>
	<div id="collapseSearch" class="panel-collapse collapse">
		<div class="panel-body">
			<%= search_form_for @q, url: search_static_pages_path do |f| %>
				<div class="row">
					<div class="col-xs-2">
			  			<%= f.input :project_code_cont, :label => "Project Code:", required: false %>
			  		</div>
			  		<div class="col-xs-5">
			  			<%= f.input :project_name_or_project_components_component_name_or_project_phases_phase_name_cont, :label => "Project Title:", required: false %>
			  		</div>
			  		<div class="col-xs-5">
			  			<%= f.input :description_cont, :label => "Project Description:", required: false %>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col-xs-3">
			  			<%= f.input :status_eq, :collection => ProjectStatus.all, :label_method => :description, :include_blank => true, :label => "Project Status", required: false %>
			  		</div>
			  		<div class="col-xs-3">
			  			<%= f.input :university_id_eq, :collection => University.all.order(:university_name), :label_method => :university_name, :include_blank => true, :label => "Project of:", required: false %>
			  		</div>
					<div class="col-xs-3">
			  			<%= f.input :timeline_actual_end_gteq, :label => "From Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY", required: false %>
			  		</div>
			  		<div class="col-xs-3">
			  			<%= f.input :timeline_actual_end_lteq, :label => "To Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY", required: false %>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col-xs-6">
			  			<%= f.input :bidding_contractor_cont, :label => "Contractor/s:", required: false %>
			  		</div>
			  		<div class="col-xs-6">
			  			<%= f.input :funds_fund_source_in, :collection => FundSource.all.order(:source_name), :label_method => :source_name, :include_blank => true, :label => "Source of fund/s:", required: false %>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-3">
			  			<%= f.input :financial_budget_gteq, :label => "Min. Budget", required: false %>
			  		</div>
			  		<div class="col-xs-3">
			  			<%= f.input :financial_budget_lteq, :label => "Max. Budget", required: false %>
			  		</div>
			  		<div class="col-xs-3">
			  			<%= f.input :percent_accomplishment_gteq, :label => "Min. % Accomplishment", required: false %>
			  		</div>
			  		<div class="col-xs-3">
			  			<%= f.input :percent_accomplishment_lteq, :label => "Max. % Accomplishment", required: false %>
			  		</div>
			  	</div>
			  <%= f.button :submit, :class => "btn btn-success pull-right" %>
			<% end %>
		</div>
	</div>
</div>

<script>
$("#accordion").on("shown.bs.collapse", function () {
    var myEl = $(this).find('.collapse.in').prev('.panel-heading');

    $('html, body').animate({
        scrollTop: $(myEl).offset().top
    }, 500);
});
</script>