<%= simple_form_for([@project_phase.project, @project_phase]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="panel panel-info">
  		<div class="panel-heading">
  			<b>Phase Status</b>
  		</div>
  		<div class="panel-body">
  			<div class="col-xs-6">
  				<%= f.input :status, :collection => ProjectStatus.all, :label_method => :description, :include_blank => false, :label => "Phase Status" %>
  			</div>
  			<div class="col-xs-6">
  				<%= f.input :classification, :collection => ProjectClassification.all, :label_method => :description, :include_blank => true, :label => "Phase Classification" %>
  			</div>

  			<div class="col-xs-4">
				<%= f.input :percent_accomplishment, :label => "Percent Accomplisment:" %>
			</div>
  			<div class="col-xs-4">
  				<%= f.input :completed_by, :label => "Completed By:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
  			</div>
			<div class="col-xs-4">
				<%= f.input :percent_accomplishment_by, :label => "Percent Accomplished By:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
  		</div>
  	</div>


	<div class="panel panel-info">
		<div class="panel-heading">
			<b>General Information</b>
		</div>
		<div class="panel-body">
			<%= f.association :project, default: params[:project], :as => :hidden %>
			<%= f.input :project_id, default: @project_phase.project.id, :as => :hidden %>

		  	<div class="col-xs-12">
		  		<%= f.input :phase_name, :label => "Phase Name:" %>
		  	</div>

			<div class="col-xs-6">
			<%= f.input :description, :label => "Description:", :input_html => {:rows => 5} %>
			</div>
			<div class="col-xs-6">
			<%= f.input :expected_outcome, :label => "Expected Outcome:", :input_html => {:rows => 5} %>
			</div>

			<div class="col-xs-12">
				<%= f.input :end_user, :label => "End User/s:", :input_html => {:rows => 5} %>
			</div>

			<div class="col-xs-12">
				<%= f.input :remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Bidding Details</b>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<%= f.input :bidding_contractor, :label => "Contractor/s:", :input_html => {:rows => 3} %>
			</div>
			<div class="col-xs-4">
				<%= f.input :bidding_number, :label => "Number of Biddings:" %>
			</div>
			<div class="col-xs-4">
				<%= f.input :bidding_award, :label => "Date of Notice of Award:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY"  %>
			</div>
			<div class="col-xs-4">
				<%= f.input :bidding_proceed, :label => "Date to Proceed:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY"  %>
			</div>
			<div class="col-xs-12">
				<%= f.input :bidding_remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Financial Details</b>
		</div>
		<div class="panel-body">
			<div class="col-xs-6">
				<%= f.input :financial_budget, :label => "Budget (PhP):" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :financial_contract_price, :label => "Contract Price (PhP):" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :financial_actual_cost, :label => "Actual Cost (PhP):" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :financial_variation, :label => "Variation Order (PhP):" %>
			</div>
			<div class="col-xs-12">
				<%= f.input :financial_remarks, :label => "Remarks:", :input_html => {:rows => 5}, :placeholder => "Donors and Government Agencies names should also be listed here if applicable." %>
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Funding Detail</b>
		</div>
		<div class="panel-body">

			<%= f.simple_fields_for :funds do |fund| %>
					<%= render 'fund_fields', :f => fund %>
			<% end %>
			
			<div class="col-xs-12">
				<%= link_to_add_association '<i class="fa fa-plus"></i> Add source'.html_safe, f, :funds %>
			</div>

		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Timeline</b>
		</div>
		<div class="panel-body">
			<div class="col-xs-6">
				<%= f.input :timeline_target_start, :label => "Target Start Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_target_end, :label => "Target Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_actual_start, :label => "Actual Start Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_actual_end, :label => "Actual Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_duration, :label => "Project Duration (in Calendar days):" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_extension, :label => "Project Extension (in Calendar days):" %>
			</div>
			<div class="col-xs-12">
				<%= f.input :timeline_remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Updates" %>
  </div>
<% end %>
