<%= simple_form_for([@project_phase.project, @project_phase]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>Project phase for [<%= @project_phase.project.project_code %>] <%= @project_phase.project.project_name %></h3>
		</div>
		<div class="panel-body">
		  	<%= simple_format(@project_phase.project.description) %>
		</div>
	</div>


	<div class="panel panel-info">
		<div class="panel-heading">
			<b>General Information</b>
		</div>
		<div class="panel-body">
			<%= f.association :project, default: params[:project], :as => :hidden %>
			<%= f.input :project_id, default: @project_phase.project.id, :as => :hidden %>

		  	<div class="col-xs-12">
		  		<%= f.input :phase_name, :label => "Phase Name:" %>
		  	</div>

			<div class="col-xs-6">
			<%= f.input :description, :label => "Description:", :input_html => {:rows => 5} %>
			</div>
			<div class="col-xs-6">
			<%= f.input :expected_outcome, :label => "Expected Outcome:", :input_html => {:rows => 5} %>
			</div>

			<div class="col-xs-6">
			<%= f.input :percent_accomplishment, :label => "Percent Accomplisment:" %>
			</div>
			<div class="col-xs-6">
			<%= f.input :percent_accomplishment_by, :label => "Percent Accomplished By:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>

			<div class="col-xs-12">
				<%= f.input :end_user, :label => "End User/s:", :input_html => {:rows => 5} %>
			</div>

			<div class="col-xs-12">
				<%= f.input :remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Bidding Details</b>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<%= f.input :bidding_contractor, :label => "Contractor/s:", :input_html => {:rows => 3} %>
			</div>
			<div class="col-xs-4">
				<%= f.input :bidding_number, :label => "Number of Biddings:" %>
			</div>
			<div class="col-xs-4">
				<%= f.input :bidding_award, :label => "Date of Notice of Award:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY"  %>
			</div>
			<div class="col-xs-4">
				<%= f.input :bidding_proceed, :label => "Date to Proceed:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY"  %>
			</div>
			<div class="col-xs-12">
				<%= f.input :bidding_remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Financial Details</b>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<%= f.association :fund_sources, as: :select, collection: FundSource.all.order(:source_name), :label_method => :source_name, :input_html => {:size => 10}, :label => "Source/s of funds:" %>
				<%= f.input :financial_source, :label => "Other source/s (if applicable):" %>
			</div>
			<div class="col-xs-3">
				<%= f.input :financial_budget, :label => "Budget (PhP):" %>
			</div>
			<div class="col-xs-3">
				<%= f.input :financial_contract_price, :label => "Contract Price (PhP):" %>
			</div>
			<div class="col-xs-3">
				<%= f.input :financial_actual_cost, :label => "Actual Cost (PhP):" %>
			</div>
			<div class="col-xs-3">
				<%= f.input :financial_variation, :label => "Variation Order (PhP):" %>
			</div>
			<div class="col-xs-12">
				<%= f.input :financial_remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Timeline</b>
		</div>
		<div class="panel-body">
			<div class="col-xs-6">
				<%= f.input :timeline_target_start, :label => "Target Start Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_target_end, :label => "Target Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_actual_start, :label => "Actual Start Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_actual_end, :label => "Actual Completion Date:", :start_year => Date.today.year, :end_year => 1900, :include_blank => true, :as => :date_picker, :placeholder => "DD/MM/YYYY" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_duration, :label => "Project Duration (in Calendar days):" %>
			</div>
			<div class="col-xs-6">
				<%= f.input :timeline_extension, :label => "Project Extension (in Calendar days):" %>
			</div>
			<div class="col-xs-12">
				<%= f.input :timeline_remarks, :label => "Remarks:", :input_html => {:rows => 5} %>
			</div>
		</div>
	</div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Updates" %>
  </div>
<% end %>
