<div class="panel panel-success">
	<div class="panel-heading text-center">
		<h3><%= @project_phase.phase_name %></h3>
		<b>Project Phase of <%= link_to @project_phase.project.project_name, project_path(@project_phase.project) %></b>
	</div>
	<div class="panel-body">
		<p id="notice"><%= notice %></p>

		<%= render 'shared/project_shared_panels', :project => @project_phase %>

		<div class="panel panel-info">
			<div class="panel-heading">
				<b><%= icon('quote-right')%>  General Remarks</b>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<%= simple_format(@project_phase.remarks) %>
					</div>
				</div>
			</div>
		</div>

	 	<div class="pull-right">
			<%= link_to 'Edit', edit_project_project_phase_path(@project_phase.project, @project_phase) %> |
			<%= link_to 'Destroy', project_project_phase_path(@project_phase.project, @project_phase), method: :delete, data: { confirm: 'Are you sure?' } %> |
			<%= link_to 'Back', project_path(@project_phase.project) %>
		</div>
 	</div>
 </div>

