<div class="panel panel-success">
  <div class="panel-heading text-center">
    <h3>Project Images for <%= link_to @project.project_name, @project %></h3>
  </div>
  <div class="panel-body">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-12">
      <% @project_images.each_with_index do |image, index| %>
          <% if index % 3 == 0 %>
            <div class="row">
            </div>
          <% end %>
          <div class="col-xs-4">
            <%= link_to image_tag(image.image_url(:thumbnail)), project_project_image_path(image.project, image) %><br>
          </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= will_paginate @project_images, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="row">
    </div>
    <br>
    <div class="pull-right">
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>