<p id="notice"><%= notice %></p>

<div class="panel panel-info">
	<div class="panel-body text-center">
		<%= link_to  @project_image.image_url, :target => "_blank" do %>
			<%= image_tag @project_image.image_url(:view), :class => "img-responsive center-image" %>
		<% end %>

	</div>
	<div class="panel-footer">
		<div class="container">
			<div class="row">
				<strong>Project Image of <%= link_to @project_image.project.project_name, @project_image.project %></strong>
				<br>
				<strong>Description:</strong> <%= @project_image.description %>
			</div>
			<br>
		</div>
		<p class="text-right">
			<%= link_to 'Edit', edit_project_project_image_path(@project_image.project, @project_image) %> |
			<%= link_to "Delete", project_project_image_path( @project_image.project, @project_image), data: { confirm: 'Are you sure you want to delete this image?' }, :method => :delete %> |
			<%= link_to 'Back', "javascript:history.back()" %>
		</p>
	</div>
</div>

